# Siêu quan trọng
TOKEN="" # Token bot của ông (có thể cho nhiều token, miễn bắt đầu bằng TOKEN, bot sẽ được ưu tiên từ dưới lên đầu file)
DEFAULT_PREFIX="" # Cái này để gọi bot (vd: a!play something)

# Mấy cái dưới này là không quan trọng
# DATABASE
MONGO=
PLAYER_SESSIONS_MONGODB=
# OAUTH
PLUGINS_YOUTUBE_OAUTH_REFRESHTOKEN=
# SPOTIFY THINGS
SPOTIFY_CLIENT_ID=
SPOTIFY_CLIENT_SECRET=
AUTO_ERROR_REPORT_WEBHOOK=
COMMAND_LOG=
LISTENING_PRESENCES=