disnake
disnake[voice]
python-dotenv
user_agent
requests
humanize
sqlalchemy[asyncio]>=2.0.36
asyncpg>=0.30.0
psycopg2-binary>=2.9.10
alembic>=1.14.0
psutil
aiofiles
packaging
tornado
spotipy
colorama
asgiref
aiohttp
pytz
websocket-client
soundcloud-v2
pytube
RapidFuzz
dave-py
gTTS
yt-dlp
nodriver