disnake
disnake[voice]
python-dotenv
user_agent
requests
humanize
motor
tinymongo
psutil
aiofiles
packaging
tornado
spotipy
colorama
asgiref
aiosqlite
gTTS
yt-dlp
nodriver
pymongo
aiohttp
pytz
websocket-client
soundcloud-v2
pytube
RapidFuzz
dave-py